<div class="center">
  <mat-form-field class="left">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <button class="mat-stroked-button" (click)="refreshMarketHoldings()">Refresh</button>

  <mat-paginator class="right"
    [pageSizeOptions]="mpPageSizeOptions"
    (page)="pageEvent = $event">
  </mat-paginator> 
</div>

<div>
  <table mat-table [dataSource]="marketHoldings" class="center mat-elevation-z8"
      matSort matSortActive="marketcap"
      matSortDisableClear
      matSortDirection="desc">

    <!-- ticker Column -->
    <ng-container matColumnDef="ticker">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ticker</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ticker}} </mat-cell>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> ${{element.price| number }} </mat-cell>
    </ng-container>

    <!-- changePrice Column -->
    <ng-container matColumnDef="changePrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Change ($)</mat-header-cell>
      <mat-cell *matCellDef="let element"
        [class.positive]= "element.changepct >= 0"
        [class.negative]= "element.changepct < 0"
      > ${{ element.price - (element.price / (1+element.changepct/100)) | number}}</mat-cell>
    </ng-container>

    <!-- changepct Column -->
    <ng-container matColumnDef="changepct">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Change (%)</mat-header-cell>
      <mat-cell *matCellDef="let element"
        [class.positive]= "element.changepct >= 0"
        [class.negative]= "element.changepct < 0"
      > {{element.changepct | number}}%</mat-cell>
    </ng-container>

    <!-- marketcap Column -->
    <ng-container matColumnDef="marketcap">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Market Cap</mat-header-cell>
      <mat-cell *matCellDef="let element"> ${{element.marketcap | number}} </mat-cell>
    </ng-container>

    <!-- exchange Column -->
    <ng-container matColumnDef="exchange">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Exchange</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.exchange}} </mat-cell>
    </ng-container>

    <!-- sector Column -->
    <ng-container matColumnDef="sector">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sector</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sector}} </mat-cell>
    </ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"
      matRipple class="element-row"
      [cdkDetailRow]="row"
      [cdkDetailRowTpl]="tpl">
		</mat-row>
	</table>
</div>

<ng-template #tpl let-element>
	<div [@detailExpand] style="overflow: hidden">
    <app-stock-detail 
      [holding]="element"> 
    </app-stock-detail>
	</div>
</ng-template>