<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <button class="mat-stroked-button" (click)="refreshMarketHoldings()">Refresh Holdings</button>

  <mat-paginator 
    [pageSizeOptions]="mpPageSizeOptions"
    (page)="pageEvent = $event">
  </mat-paginator> 

  <mat-table [dataSource]="marketHoldings" class="table mat-elevation-z8"
      matSort matSortActive="marketcap"
      matSortDisableClear
      matSortDirection="desc">

    <!-- ticker Column -->
    <ng-container matColumnDef="ticker">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ticker</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ticker}} </mat-cell>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <!-- high52 Column -->
    <ng-container matColumnDef="high52">
      <mat-header-cell *matHeaderCellDef mat-sort-header>52-week High</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.high52}} </mat-cell>
    </ng-container>

    <!-- low52 Column -->
    <ng-container matColumnDef="low52">
      <mat-header-cell *matHeaderCellDef mat-sort-header>52-week Low</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.low52}} </mat-cell>
    </ng-container>

    <!-- marketcap Column -->
    <ng-container matColumnDef="marketcap">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Market Cap</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.marketcap}} </mat-cell>
    </ng-container>

    <!-- exchange Column -->
    <ng-container matColumnDef="exchange">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Exchange</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.exchange}} </mat-cell>
    </ng-container>

    <!-- sector Column -->
    <ng-container matColumnDef="sector">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sector</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sector}} </mat-cell>
    </ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"
      matRipple class="element-row"
      [cdkDetailRow]="row"
      [cdkDetailRowTpl]="tpl">
		</mat-row>
	</mat-table>
</div>

<ng-template #tpl let-element>
	<div [@detailExpand] style="overflow: hidden">
    <app-stock-detail 
      [holding]="element"> 
    </app-stock-detail>
	</div>
</ng-template>