.center {
  width: 90%;
  margin: auto;
}

.left {
  float: left;
}

.right  {
  float: right;
}

div button {
  margin: 8px;
}

div mat-form-field {
  margin: 8px;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.negative {
  color: red;
}

.positive {
  color: green;
}