.info-container {
  margin-top: 5%;
  font-size: small;
}

.index-info {
  margin: 8px;
  padding: 8px;
  height: 30%;
  display: inline-block;
  background-color: white;
  color: black;
}

.negative {
  color: red;
}

.positive {
  color: green;
}
