.info-container {
  font-size: small;
  margin-top: 8px;
  margin-bottom: 8px;
}

.index-info {
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  display: inline-block;
  background-color: white;
  color: black;
  font-weight: lighter;
}

.negative {
  color: red;
}

.positive {
  color: green;
}
