
<div class="chart">
  <div class="button-row">
    <button mat-raised-button (click)="setTimeframe(5)">
      1 Week 
        <span [class.positive]= "changePct.oneWeek >= 0" [class.negative]= "changePct.oneWeek < 0">
          ({{ changePct.oneWeek | number }}%)
        </span>
    </button>

    <button mat-raised-button (click)="setTimeframe(20)">
      1 Month 
        <span [class.positive]= "changePct.oneMonth >= 0" [class.negative]= "changePct.oneMonth < 0">
          ({{ changePct.oneMonth | number }}%)
        </span>
    </button>

    <button mat-raised-button (click)="setTimeframe(125)">
      6 Months 
        <span [class.positive]= "changePct.sixMonths >= 0" [class.negative]= "changePct.sixMonths < 0">
          ({{ changePct.sixMonths | number }}%)
        </span>
    </button>

    <button mat-raised-button (click)="setTimeframe(250)">
      1 Year 
        <span [class.positive]= "changePct.oneYear >= 0" [class.negative]= "changePct.oneYear < 0">
          ({{ changePct.oneYear | number }}%)
        </span>
    </button>

    <button mat-raised-button (click)="setTimeframe(1250)">
      5 Years 
        <span [class.positive]= "changePct.fiveYears >= 0" [class.negative]= "changePct.fiveYears < 0">
          ({{ changePct.fiveYears | number }}%)
        </span>
    </button>

    <button mat-raised-button (click)="setTimeframe(0)">
      All Time 
    </button>
    
  </div>

  <div>
    <app-line-chart
      [datasets]="lineDataset"
      [labels]="lineLabels"
      [legend]="false">
    </app-line-chart>
  </div>
</div>

<div class="table">
  <table>
    <tbody>
      <tr><td>52 Week High</td><td>$ {{ holding.info.fiftyTwoWeekHigh | number }}</td></tr>
      <tr><td>52 Week Low</td><td>$ {{ holding.info.fiftyTwoWeekLow | number }}</td></tr>
      <tr><td>P/E</td><td>{{ holding.info.trailingPE | number}}</td></tr>
    </tbody>
  </table>

</div>
