.left {
    float: left;
    width: 40%;
}

.right  {
    float: right;
    width: 60%;
}

.center {
    margin: auto;
    width: 95%;
}

.button-row button{
    margin: 4px;
}

.negative {
    color: red;
}

.positive {
    color: green;
}
