.negative {
    color: red;
}

.positive {
    color: green;
}

.flex {
    display: flex;
    flex-direction: column;
}

.top {
    margin: 8px;
    margin-top: 16px;
}

.left {
    float: left;
    width: 49%;
}

.right  {
    float: right;
    width: 49%;
}

.sector-pct {
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 4px;
    margin-left: 8px;
    width: 48%;
}

.holding-pct {
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 4px;
    margin-right: 8px;
    width: 48%;

}

.center {
    margin: auto;
    width: 95%;
}

.detail-info-container table {
    display: inline-block;
    margin: 8px;
}

.info-cell {
    padding: 4px;
}

.button-row button{
    margin: 4px;
}

mat-form-field {
    margin: 8px;
}

mat-paginator {
    background: none;
}

mat-card-header {
    font-size: larger;
    font-weight: lighter;

}

mat-card-content {
    margin: 8px;
}
